<!-- INCLUSAO HEAD -->
<div ng-include src="'app/view/header.html'"></div>

<!-- TITULO DO TEMPLATE -->
<h2 style="margin-bottom: 20px; margin-top: 15px;">Ajuda</h2>

<!-- CONTEUDO -->
<div>
	<div class="container">
		<div class="row">
		    <div class="col-4">
		      <div class="text-center"> 
		      	<img src="src/img/Paper64.svg" style="display: inline-block;">                                         
		      	<h4 style="margin-top: 10px; margin-bottom: 10px; font-weight: 200;">Documentação</h4>
		      </div>
		      <div class="text-center">
		      	<p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium</p>
		      <button type="button" class="btn btn-link btn-lg">Saiba mais</button>
		      </div>
		    </div>
		    <div class="col-4">
		      <div class="text-center"> 
		      	<img src="src/img/Chat64.svg" style="display: inline-block;">                                         
		      	<h4 style="margin-top: 10px;">Perguntas Frequentes</h4>
		      </div>
		      <div class="text-center">
		      	<p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium</p>
		      	 <button type="button" class="btn btn-link btn-lg">Saiba mais</button>
		      </div>
		    </div>
		    <div class="col-4">
		      <div class="text-center"> 
		      	<img src="src/img/Browser64.svg" style="display: inline-block;">                                         
		      	<h4 style="margin-top: 10px;">Comunidade</h4>
		      </div>
		      <div class="text-center">
		      	<p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium</p>
				<button type="button" class="btn btn-link btn-lg">Saiba mais</button>
		      </div>
		    </div>
		</div>
	  </div>
	</div>
</div>