<!-- INCLUSAO HEAD -->
<!-- <div ng-include src="'app/view/header.html'"></div> -->

<!-- TITULO DO TEMPLATE -->
<h2 style="margin-bottom: 20px; margin-top: 15px;">Criar uma Conta</h2>
{{cliente}}
<!-- CONTEUDO -->
<div class="container">
	<form novalidate name="formCliente">
	  <h2 style="margin-bottom: 20px; margin-top: 15px;">Dados Pessoais</h2>
	  <div class="form-row">
	    <div class="form-group col-md-4">
	      <label for="txtNome">Nome</label>
				<input type="text" ng-class="{'red-border-class': formCliente.txtNome.$invalid && formCliente.txtNome.$touched}" ng-model="cliente.nomeCliente" class="form-control" name="txtNome" required>
	    </div>
	    <div class="form-group col-md-4">
	      <label for="txtSobrenme">Sobrenome</label>
	      <input type="text" ng-model="cliente.sobrenomeCliente" class="form-control" name="txtSobrenme">
			</div>
	  	<div class="form-group col-md-4">
	      <label for="txtSexo">Sexo</label>
	      <select ng-model="cliente.sexo" name="txtSexo" class="form-control">
	        <option value="F">Feminino</option>
	       	<option value="M">Masculino</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-4">
	      <label for="txtcpf">CPF</label>
	      <input ng-model="cliente.cpf" ui-mask="999.999.999-99" type="text" class="form-control" name="txtcpf">
	    </div>
	    <div class="form-group col-md-4">
	      <label for="txtEmail">E-mail</label>
	      <input type="email" ng-model="cliente.loginCliente.email" class="form-control" name="txtEmail">
			</div>
	    <div class="col-md-4">
				<label for="txtTelefone">Telefone</label>
				<input type="tel" ui-mask="+99(99)99999-9999" ng-model="cliente.telefoneList[0].numeroTelefone" class="form-control" name="txtTelefone">
			</div>			
	  </div>
	  <h2 style="margin-bottom: 20px; margin-top: 15px;">Endereço</h2>
	  <div class="form-row">
	  	<div class="form-group col-md-5">
	      <label for="txtLogradouro">Rua</label>
	      <input type="text" ng-model="cliente.enderecoList[0].logradouro" class="form-control" name="txtLogradouro">
	    </div>
	    <div class="form-group col-md-2">
	      <label for="txtNumero">Número</label>
	      <input type="number" ng-model="cliente.enderecoList[0].numeroEndereco" class="form-control" name="txtNumero">
	    </div>
	    <div class="form-group col-md-5">
	      <label for="txtComplemento">Complemento</label>
	      <input type="text" ng-model="cliente.enderecoList[0].complementoEndereco" class="form-control" name="txtComplemento">
	    </div>
	  </div>
	  <div class="form-row">
	  	<div class="form-group col-md-5">
	      <label for="txtBairro">Bairro</label>
	      <input type="text" ng-model="cliente.enderecoList[0].bairro" class="form-control" name="txtBairro">
	    </div>
	    <div class="form-group col-md-4">
	      <label for="txtCep">CEP</label>
	      <input type="number" ng-model="cliente.enderecoList[0].cep" class="form-control" name="txtCep">
	    </div>
	    <div class="form-group col-md-3">
	      <label for="txtCidade">Cidade</label>
	      <input type="text" ng-model="cliente.enderecoList[0].cidade" class="form-control" name="txtCidade">
	    </div>
	  </div>
	  <div class="form-row">
	  	<div class="form-group col-md-4">
	      <label for="slEstado">Estado</label>
	      <select ng-model="cliente.enderecoList[0].estado" name="slEstado" class="form-control">
	        <option value="Acre">Acre</option>
					<option value="Alagoas">Alagoas</option>
					<option value="Amapá">Amapá</option>
					<option value="Amazonas">Amazonas</option>
					<option value="Bahia">Bahia</option>
					<option value="Ceará">Ceará</option>
					<option value="Distrito Federal">Distrito Federal</option>
					<option value="Espírito Santo">Espírito Santo</option>
					<option value="Goiás">Goiás</option>
					<option value="Maranhão">Maranhão</option>
					<option value="Mato Grosso">Mato Grosso</option>
					<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
					<option value="Minas Gerais">Minas Gerais</option>
					<option value="Pará">Pará</option>
					<option value="Paraíba">Paraíba</option>
					<option value="Paraná">Paraná</option>
					<option value="Pernambuco">Pernambuco</option>
					<option value="Piauí">Piauí</option>
					<option value="Rio de Janeiro">Rio de Janeiro</option>
					<option value="Rio Grande do Norte">Rio Grande do Norte</option>
					<option value="Rio Grande do Sul">Rio Grande do Sul</option>
					<option value="Rondônia">Rondônia</option>
					<option value="Roraima">Roraima</option>
					<option value="Santa Catarina">Santa Catarina</option>
					<option value="São Paulo">São Paulo</option>
					<option value="Sergipe">Sergipe</option>
					<option value="Tocantins">Tocantins</option>
	      </select>
	    </div>
	    <div class="form-group col-md-4">
	      <label for="slPais">Pais</label>
	      <select id="slPais" ng-model="cliente.enderecoList[0].pais" class="form-control">
	        <option>Brasil</option>
	      </select>
	    </div>
	  </div>
	  <h2 style="margin-bottom: 20px; margin-top: 15px;">Dados Login</h2>
	  <div class="form-row">
	  	<div class="form-group col-md-6">
	      <label for="txtNomeUsuario">Nome de Usuário</label>
	      <input type="text" ng-model="cliente.loginCliente.nomeUsuario" class="form-control" name="txtNomeUsuario">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="txtSenha">Senha</label>
	      <input type="password" ng-model="cliente.loginCliente.senha" class="form-control" name="txtSenha">
	    </div>
	  </div>
	  <h2 style="margin-bottom: 20px; margin-top: 15px;">Dados Pagamento</h2>
	  <div class="form-row">
	  	<div class="form-group col-md-4">
	      <label for="inputTipoPagamento">Tipo de Pagamento</label>
	      <select id="inputTipoPagamento" class="form-control">
	        <option>Cartão de Crédito</option>
	      </select>
	    </div>
	    <div class="form-group col-md-4">
	      <label for="inputNumeroCartao">Número do Cartão</label>
	      <input type="number" class="form-control" ng-model="cliente.cartaoDeCreditoList[0].numeroDoCartao" name="inputNumeroCartao">
	    </div>
	    <div class="form-group col-md-4">
	      <label for="txtCodigoSeguranca">Código de Segurança</label>
	      <input type="number" maxlength="4" class="form-control" ng-model="cliente.cartaoDeCreditoList[0].numeroDeSeguranca" name="txtCodigoSeguranca">
	    </div>
	  </div>	 
	 <br>
	 <div class="form-row">
	 	<button type="submit" class="btn btn-cadastrar" ng-click="save()"  ng-disabled="formCliente.$invalid"><h6>Concluir</h6></button>
        <input type="button" id="" class="hidden item-none">
	 </div>

	</form>

<br><br>



</div>