<!-- INCLUSAO HEAD -->
<div ng-include src="'app/view/header.html'"></div>

<!-- TITULO DO TEMPLATE -->
<h2>Criar Droplet</h2>
<!-- CONTEUDO -->
<div class="container" data-ng-init="init()"> 
  <!--- SISTEMA OPERACIONAL -->
  <div class="container">
    <form novalidate name="formDroplet">
      <h3>Escolha o Sistema Operacional</h3>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2 text-center" ng-repeat="sistOperacional in sistemasOperacionais">
            <div class="form-group">
                <div class="selectImg img-os">
                    <img src="{{sistOperacional.caminhoIcone}}" class="imgDroplet" ng-click="soClick(sistSelected)">
                    <h6>{{sistOperacional.nomeSistemaOperacional}}</h6>
                </div>
                <select class="form-control form_select_custom" ng-change="changeSistOperacional(sistOperacional, sistSelected)" ng-model="sistSelected" ng-options="item for item in sistOperacional.versaoSistemaOperacional">
                </select>
            </div>
        </div>
      </div>
    </div>
    <!--- REGIAO DATACENTER -->
    <div class="container">
      <h3>Escolha a Região do Datacenter</h3>
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center">
          <form class="form-horizontal well" role="form">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-2" ng-repeat="datacenter in datacenters">
                  <div class="form-group">
                      <img src="{{datacenter.caminhoIcone}}" class="img-responsive img-radio checkImg" class="imgDroplet">
                      <button type="button" class="btn btn-primary btn-radio  check-region" ng-click="serverClick(datacenter)"><h6>{{datacenter.nomeServidor}}</h6></button>
                      <input type="checkbox" id="" class="hidden item-none">
                    </div>                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- ESCOLHA DE PLANO -->
    <div class="container">
      <h3>Escolha o Plano</h3> 
      <div class="row">
        <div class="col-md-12 col-md-offset-3 text-center">
          <form class="form-horizontal well" role="form">
            <div class="row">
            <div ng-repeat="plano in planos" class="col-sm-6 col-md-4 col-lg-2">
              <div class="top-plan-item text-center img-plan">
                  <h5>R$</h5><h1>{{plano.valorPlano}}</h1><h6>,00</h6>
                  <h6>R${{plano.valorPlanoHora}}/hora</h6>
              </div>
              <button type="button" class="btn btn-primary btn-plan bottom-plan-item" ng-click="planoClick(plano)">
                  <h6> {{plano.memoriaRAM}} GB Memory</h6>
                  <h6>{{plano.processamento}} vCPU</h6>
                  <h6>{{plano.armazenamento}}GB SSD Disk</h6>
                  <h6>{{plano.taxaTransferencia}}TB Transfer</h6>
              </button>
              <input type="checkbox" id="" class="hidden item-none">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-md-offset-3 custom-title-inline">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <h3>Escolha o Nome da Droplet</h3>
          <div class="form-group col-md-12">
            <input type="text" class="form-control form-control-custom" ng-model="nomeDroplet" id="txtNomeDroplet" placeholder="Ubuntu-58474-us">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">  
        <div class="col-md-12">              
          <button type="button" ng-click="cadastro()" class="btn btn-cadastrar"><h6>Cadastrar</h6></button>
          <input type="button" id="" class="hidden item-none">
        </div>
      </div>
    </div>
  </div>
</div>