<!-- INCLUSAO HEAD -->
<div ng-include src="'app/view/header.html'"></div>
<div ng-include src="'app/view/modal.html'"></div>

<!-- TITULO DO TEMPLATE -->
<h2 style="margin-bottom: 20px; margin-top: 15px;">Faturas</h2>

<!-- CONTEUDO -->
<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead class="trCabecalho">
                <th>Descrição</th>
                <th>Valor Total</th>
                <th>Vencimento</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="fatura in faturas">
                    <td>
                        <div class="table-item-description">            
                            <i class="flaticon-hosting"></i>            
                            <div class="content">
                                <div class="title">Fatura Num. {{ fatura.id }}</div>
                                <div class="description">{{ fatura.description }}</div>
                            </div>            
                        </div>
                    </td>
                    <td>{{fatura.valor}}</td>
                    <td>{{fatura.dataVencimento | date}}</td>
                    <td>
                        <a class="nav-link dropdown-toggle" href="#/" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mais
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#/"><i class="fa fa-search"></i> Visualizar</a>
                                <a class="dropdown-item" href="#/" ng-click="openModal(fatura)"><i class="fa fa-money"></i> Pagar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>
