<!-- INCLUSAO HEAD -->
<div ng-include src="'app/view/header.html'"></div>

<!-- TITULO DO TEMPLATE -->
<h2 style="margin-bottom: 20px; margin-top: 15px;">Gerenciar Droplet</h2>

<!-- CONTEUDO -->
<!-- CONTEUDO -->
<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead class="trCabecalho">
                <th>Nome</th>
                <th>Endereço IP</th>
                <th>Criado em</th>
                <th>Tags</th>
            </thead>
            <tbody>
                <tr ng-repeat="droplet in droplets">
                    <td>
                        <div class="table-item-description">            
                            <i class="flaticon-hosting"></i>            
                            <div class="content">
                                <div class="title">{{ droplet.nomeDroplet }}</div>
                                <div class="description">{{ droplet.plano.memoriaRAM}}GB / {{ droplet.plano.armazenamento}}GB / {{droplet.sistemaOperacional.nomeSistemaOperacional}} - {{droplet.sistemaOperacional.versaoSistemaOperacional[0]}} </div>
                            </div>            
                        </div>
                    </td>
                    <td> 45.55.82.243 </td>
                    <td> 2 anos atrás</td>
                    <td class="tdDrop">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:" role="button" aria-haspopup="true" aria-expanded="false">Mais</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#!cadastrarDroplet"><i class="fa fa-pencil"></i> Editar</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-trash"></i> Excluir</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>
<script>
        $('.dropdown-toggle').on('mouseover', function(){
            $(this).parent().find('.dropdown-menu').css('display','block');
        });
        $('.tdDrop').on('mouseleave', function(){
            $(this).find('.dropdown-menu').css('display','none');
        });
</script>
