<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> <img src="src/img/Logo_horizontal_colorido.png" alt="logoCabecalho"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#produtos">Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#servicos">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Entrar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="fundoInst">
        <div class="container">
            <div class="jumbotron jumbotron-fluid text-white corPadrao text-center">
            <div class="container">
                <h1 class="display-2" style="margin-top: 2em">Cloud.IO</h1>
                <p class="lead">Serviços em Nuvem.</p>
            </div>
            </div>
        </div>
</div>
<div class="container">
    <h1 id="produtos" class="text-center corApp">Produtos</h1>
    <hr class="divisoria">
    <div class="row">
		    <div class="col-4">
		      <div class="text-center"> 
		      	<img src="src/img/recommended.svg" class="imgProduto" style="display: inline-block;">                                         
		      	<h4 style="margin-top: 10px; margin-bottom: 10px; font-weight: 200;">Documentação</h4>
		      </div>
		      <div class="text-center">
		      	<p>Nossos produtos são recomendados por unimeros clientes que ja testaram a solução. A qualidade e o grande empenho de nossos profissionais são nossa maior preocupação.</p>
		      </div>
		    </div>
		    <div class="col-4">
		      <div class="text-center"> 
		      	<img src="src/img/idea.svg" class="imgProduto" style="display: inline-block;">                                         
		      	<h4 style="margin-top: 10px;">Perguntas Frequentes</h4>
		      </div>
		      <div class="text-center">
		      	<p>Nosso grande ideal sempre foi prover qualidade num único ramo, focando em sempre estar a frente da concorrência de modo que possamos oferecer o que há de melhor no mercado.</p>
		      </div>
		    </div>
		    <div class="col-4">
		      <div class="text-center"> 
		      	<img src="src/img/shield.svg" class="imgProduto" style="display: inline-block;">                                         
		      	<h4 style="margin-top: 10px;">Comunidade</h4>
		      </div>
		      <div class="text-center">
		      	<p>Pensamos também no quesito mais importante, que é sua segurança.Asseguramos que seus dados estão totalmente projegidos com nossa solução. Pensando assim temos uma equipe preparada nas melhores tecnologias do mercado de criptografia.</p>
		      </div>
		    </div>
		</div>
</div>
<div class="container">
    <h1 id="servicos" class="text-center corApp">Serviços</h1>
    <hr class="divisoria">
    <div class="row">
        <div class="col s4">
            <div class="card" style="width: 20rem;">
                <div class="card-block">
                    <div class="dvPlano">
                        <h3 class="card-title text-center">Plano Bronze</h3>
                        <img src="src/img/bronze-medal.svg" style="height: 30px" alt="gold">
                    </div>
                    <div class="dvValorPlano">
                        <h2 class="card-text text-center font-weight-normal">R$ 10,00</h2>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item atributosDefault">Valor hora do plano R$ 0.015</li>
                    <li class="list-group-item atributosDefault">2GB de Memória RAM</li>
                    <li class="list-group-item atributosDefault">1 Nucloes processamento</li>
                    <li class="list-group-item atributosDefault">20GB de Armazenamento</li>
                    <li class="list-group-item atributosDefault">1TB de Armazenamento</li>
                </ul>
                <div class="card-block cardAcao">
                    <button class="btn btnConsultar">CONSULTAR PLANO</button>
                </div>
            </div>                    
        </div>
        <div class="col s4">
            <div class="card" style="width: 20rem;">
                <div class="card-block">
                    <div class="dvPlano">
                        <h3 class="card-title text-center">Plano Silver</h3>
                        <img src="src/img/silver-medal.svg" style="height: 30px" alt="gold">
                    </div>
                    <div class="dvValorPlano">
                        <h2 class="card-text text-center font-weight-normal">R$ 20,00</h2>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item atributosDefault">Valor hora do plano R$ 0.030</li>
                    <li class="list-group-item atributosDefault">4GB de Memória RAM</li>
                    <li class="list-group-item atributosDefault">2 Nucloes processamento</li>
                    <li class="list-group-item atributosDefault">30GB de Armazenamento</li>
                    <li class="list-group-item atributosDefault">1TB de Armazenamento</li>
                </ul>
                <div class="card-block cardAcao">
                    <button class="btn btnConsultar">CONSULTAR PLANO</button>
                </div>
            </div>                    
        </div>
        <div class="col s4">
            <div class="card" style="width: 20rem;">
                <div class="card-block">
                    <div class="dvPlano">
                        <h3 class="card-title text-center">Plano Gold</h3>
                        <img src="src/img/gold-medal.svg" style="height: 30px" alt="gold">
                    </div>
                    <div class="dvValorPlano">
                        <h2 class="card-text text-center font-weight-normal">R$ 40,00</h2>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item atributosDefault">Valor hora do plano R$ 0.030</li>
                    <li class="list-group-item atributosDefault">4GB de Memória RAM</li>
                    <li class="list-group-item atributosDefault">4 Nucloes processamento</li>
                    <li class="list-group-item atributosDefault">35GB de Armazenamento</li>
                    <li class="list-group-item atributosDefault">2TB de Armazenamento</li>
                </ul>
                <div class="card-block cardAcao">
                    <button class="btn btnConsultar">CONSULTAR PLANO</button>
                </div>
            </div>                    
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col 6 spaceFooter">
                <i class="fa fa-facebook-square faIcon" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square faIcon" aria-hidden="true"></i>
            </div>
            <div class="col 6 spaceFooter">
                Copyright © 2017 cloud.io.com.br. Todos os direitos reservados
            </div>
        </div>
    </div>
</footer>