<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="row">
            <img class="logoLogin" src="img/logo_horizontal_colorido.png" alt="logoLogin">
        </div>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Login</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Login">
                    </div>        
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="ipPassword">Password</label>
                        <input type="password" class="form-control" id="ipPassword" placeholder="Password">
                    </div>        
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>