<h1>Pacotes Contratados</h1>
<div class="row">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr class="trCabecalho">
                    <th>Descrição</th>
                    <th>Criado</th>
                    <th>Vencimento</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="table-item-description">            
                                <i class="flaticon-hosting"></i>            
                                <div class="content">
                                    <div class="title">batata doce</div>
                                    <div class="description">frango</div>
                                </div>            
                            </div>
                        </td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-description">            
                                <i class="flaticon-hosting"></i>            
                                <div class="content">
                                    <div class="title">batata doce</div>
                                    <div class="description">frango</div>
                                </div>            
                            </div>
                        </td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-item-description">            
                                <i class="flaticon-hosting"></i>            
                                <div class="content">
                                    <div class="title">batata doce</div>
                                    <div class="description">frango</div>
                                </div>            
                            </div>
                        </td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
                </table>    
    </div>
</div>
