<!-- INCLUSAO HEAD -->
<div ng-include src="'app/view/header.html'"></div>

<!-- TITULO DO TEMPLATE -->
<h2 style="margin-bottom: 20px; margin-top: 15px;">Pacotes Contratados</h2>

<!-- CONTEUDO -->
<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead class="trCabecalho">
                <th>Descrição</th>
                <th>Criado em</th>
                <th>Vencimento</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="pacote in pacotes">
                    <td>
                        <div class="table-item-description">            
                            <i class="flaticon-hosting"></i>            
                            <div class="content">
                                <div class="title">{{ pacote.nomepacote }}</div>
                                <div class="description">{{ pacote.plano.memoriaRAM}}GB / {{ pacote.plano.armazenamento}}GB / {{pacote.sistemaOperacional.nomeSistemaOperacional}} - {{pacote.sistemaOperacional.versaoSistemaOperacional[0]}}</div>
                            </div>            
                        </div>
                    </td>
                    <td> {{ dataCriacao | date }} </td>
                    <td> {{ dataVencimento | date }} </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>
