.gerenciar-custom h1, .gerenciar-custom h2, .gerenciar-custom h3, .gerenciar-custom h4, .gerenciar-custom h5, .gerenciar-custom h6, .gerenciar-custom a, .gerenciar-custom html, .gerenciar-custom button {

	font-weight: 200;
}

.btn-cadastrar-gerenciar {
  color: black;
  background-color: rgba(224,224,224,1);
  border-radius: 5px 5px 5px 5px;
  opacity: 0.5;
}

.btn-cadastrar-gerenciar:hover,.btn-cadastrar-gerenciar.active {
	background-color: rgba(0,255,128,1);
	color: white;
	opacity: 1;
}


.cont-os-head{
	min-height: 140px;
	opacity: 0.5;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 10px;
    padding-right: 0.75rem;
    padding-bottom: 10px;
    padding-left: 0.75rem;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
}

.cont-os-body{
	min-height: 45px;
	opacity: 0.5;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 15px;
    padding-right: 0.75rem;
    padding-bottom: 1px;
    padding-left: 0.75rem;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 0 0 4px 4px;
}

.cont-os-body:hover, .cont-os-body.active, .cont-os-body:focus{
	min-height: 45px;
	opacity: 1;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 15px;
    padding-right: 0.75rem;
    padding-bottom: 1px;
    padding-left: 0.75rem;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: rgba(224,224,224,0.3);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 0 3px rgba(0,123,255,0);
}

.cont-os-body h6 {
	font-weight: 200;
}

.img-os {


}

.cont-region-head{
	opacity: 0.5;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
}

.cont-region-body{
	min-height: 45px;
	opacity: 0.5;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 15px;
    padding-right: 0.75rem;
    padding-bottom: 1px;
    padding-left: 0.75rem;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 0 0 4px 4px;
}

.cont-region-body:hover, .cont-region-body.active, .cont-region-body:focus{
	min-height: 45px;
	opacity: 1;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 15px;
    padding-right: 0.75rem;
    padding-bottom: 1px;
    padding-left: 0.75rem;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: rgba(224,224,224,0.3);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 0 3px rgba(0,123,255,0);
}

.cont-region-body h6 {
	font-weight: 200;
}

.img-region {


}

.img-custom-region{
	width: 100%;
    border-radius: 4px 4px 0 0;
    margin-left: 0.9px;
    margin-right: 0.9px;
}

.cont-plan-head{
	opacity: 0.5;
	text-align: center;
	display: block;
    width: 100%;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
}

.cont-plan-body{
	opacity: 0.5;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 15px;
    padding-right: 0.75rem;
    padding-bottom: 1px;
    padding-left: 0.75rem;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: white;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 0 0 4px 4px;
}

.cont-plan-body:hover, .cont-plan-body.active, .cont-plan-body:focus{
	opacity: 1;
	text-align: center;
	display: block;
    width: 100%;
    padding-top: 15px;
    padding-right: 0.75rem;
    padding-bottom: 1px;
    padding-left: 0.75rem;
    font-size: 4rem;
    line-height: 1.25;
    color: #495057;
    background-color: rgba(224,224,224,0.3);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: -1px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 0 3px rgba(0,123,255,0);
}


.plan-custom h1, .plan-custom h2, .plan-custom h3, .plan-custom h4, .plan-custom h5, .plan-custom h6 {

	font-weight: 200;
	display: inline-block;
}

.img-plan {


}