body, html, main 
{
    height: calc(100vh - 56px);
}
.logoLogin
{
    height: 120px;
    margin-bottom: 15px;
}
.form
{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    padding-bottom: 15px;    
}
.form .title
{
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    text-align: center;
    background-color: #f8f9fa; 
}
.form .form-group, .form .btn
{
    width: 90%;
    margin: 1rem;
    margin-bottom: 0;  
}
.form input
{
    background-color: #f8f9fa;    
}
.form .btn
{
    cursor: pointer;
    background-color: #225964;
    border-color: #225964;
}

.fundoInst{
    height: 500px;
    background-image: url(../img/fundoInstitucional.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: -200px;
}

.corPadrao{
    background-color: transparent;
}
.divisoria
{
    width: 20%;
    background-color: #225964;
    height: 2px;
    margin-bottom: 3em;
}
.corApp{
    color: #225964;
    font-weight: normal;
    margin-top: 1em;
}
.dvPlano
{
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.dvValorPlano
{
    padding: 20px;
}
.atributosDefault
{
    font-style: oblique;
    font-variant-caps: all-small-caps;
    font-size: 16px;
    text-align: center;
}
.btnConsultar
{
    background-color: #225964;
    color: #fff;
    cursor: pointer;
}
.cardAcao
{
    color: #fff;
    padding: 10px;
    text-align: center; 
}

.card:hover{
    opacity: 0.7;
}
.footer
{
    height: 50px;
    background-color: #f8f9fa;
    width: 100%;
    margin-top: 2em;
}
.faIcon
{
    font-size: 30px;
}
.spaceFooter
{
    margin-top: 10px;
    text-align: center;
}
.imgProduto
{
    height: 100px;
}
.dropdown-toggle:hover .dropdown-menu {
    display: block;
}